In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/online-shoppers-intention.csv')

In [ ]:
df.isnull().sum()

Administrative             0
Administrative_Duration    0
Informational              0
Informational_Duration     0
ProductRelated             0
ProductRelated_Duration    0
BounceRates                0
ExitRates                  0
PageValues                 0
SpecialDay                 0
Month                      0
OperatingSystems           0
Browser                    0
Region                     0
TrafficType                0
VisitorType                0
Weekend                    0
Revenue                    0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12330 non-null  int64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12330 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  Month                    12330 non-null  object
 11  OperatingSystems         12330 non-null  int64
 12  Browser                  12330 non-null  int64
 13  Region                   12330 non-null  int64
 14  TrafficType              12330 non-null  int64
 15  VisitorType              12330 non-null  object
 16  Weekend                  12330 non-null  bool
 17  Revenue                  12330 non-null  bool
dtypes: bool(2), float64(7), int64(7), object(2)
memory usage: 1.5+ MB

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df['Revenue'].value_counts()

False    10297
True      1908
Name: Revenue, dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
dfc1=le.fit_transform(df['Month'])
dfc2=le.fit_transform(df['VisitorType'])

In [ ]:
df.drop('Month', axis=1, inplace=True)
df.drop('VisitorType', axis=1, inplace=True)
df.insert(loc=6,column='Month',value=dfc1)
df.insert(loc=7,column='VisitorType',value=dfc2)
#df['Month']=dfc1
#df['VisitorType']=dfc2

In [ ]:
df

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,Month,VisitorType,BounceRates,ExitRates,PageValues,SpecialDay,OperatingSystems,Browser,Region,TrafficType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,2,2,0.200000,0.200000,0.000000,0.0,1,1,1,1,False,False
1,0,0.0,0,0.0,2,64.000000,2,2,0.000000,0.100000,0.000000,0.0,2,2,1,2,False,False
2,0,0.0,0,0.0,1,0.000000,2,2,0.200000,0.200000,0.000000,0.0,4,1,9,3,False,False
3,0,0.0,0,0.0,2,2.666667,2,2,0.050000,0.140000,0.000000,0.0,3,2,2,4,False,False
4,0,0.0,0,0.0,10,627.500000,2,2,0.020000,0.050000,0.000000,0.0,3,3,1,4,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12325,3,145.0,0,0.0,53,1783.791667,1,2,0.007143,0.029031,12.241717,0.0,4,6,1,1,True,False
12326,0,0.0,0,0.0,5,465.750000,7,2,0.000000,0.021333,0.000000,0.0,3,2,1,8,True,False
12327,0,0.0,0,0.0,6,184.250000,7,2,0.083333,0.086667,0.000000,0.0,3,2,1,13,True,False
12328,4,75.0,0,0.0,15,346.000000,7,2,0.000000,0.021053,0.000000,0.0,2,2,3,11,False,False
12329,0,0.0,0,0.0,3,21.250000,7,0,0.000000,0.066667,0.000000,0.0,3,2,1,2,True,False

In [ ]:
from scipy import stats
dep=df['Revenue']

In [ ]:
for i in df.columns[:-1]:
  print(stats.ttest_ind(df[i],dep))

Ttest_indResult(statistic=71.97216267824469, pvalue=0.0)
Ttest_indResult(statistic=50.721711962435876, pvalue=0.0)
Ttest_indResult(statistic=29.353197002503197, pvalue=3.729103442794436e-186)
Ttest_indResult(statistic=27.08224991971981, pvalue=3.5882033167355476e-159)
Ttest_indResult(statistic=78.99990470622438, pvalue=0.0)
Ttest_indResult(statistic=69.45484239736231, pvalue=0.0)
Ttest_indResult(statistic=230.535853123921, pvalue=0.0)
Ttest_indResult(statistic=220.11316451639618, pvalue=0.0)
Ttest_indResult(statistic=-41.03993905181879, pvalue=0.0)
Ttest_indResult(statistic=-34.66149153850674, pvalue=5.067718792269468e-257)
Ttest_indResult(statistic=34.303950467908706, pvalue=6.527948825207634e-252)
Ttest_indResult(statistic=-25.160112320480664, pvalue=6.272336568303374e-138)
Ttest_indResult(statistic=222.55711703731814, pvalue=0.0)
Ttest_indResult(statistic=139.11634955638047, pvalue=0.0)
Ttest_indResult(statistic=136.27292382519613, pvalue=0.0)
Ttest_indResult(statistic=107.3133320047061, pvalue=0.0)
Ttest_indResult(statistic=15.428639545069448, pvalue=1.8792275464620414e-53)

In [ ]:
df[df.columns[:]].corr()['Revenue'][:]

Administrative             0.136330
Administrative_Duration    0.091768
Informational              0.093626
Informational_Duration     0.069358
ProductRelated             0.156042
ProductRelated_Duration    0.150077
Month                      0.079769
VisitorType               -0.103469
BounceRates               -0.145091
ExitRates                 -0.204320
PageValues                 0.491894
SpecialDay                -0.083601
OperatingSystems          -0.014927
Browser                    0.024052
Region                    -0.012725
TrafficType               -0.005618
Weekend                    0.027729
Revenue                    1.000000
Name: Revenue, dtype: float64

In [ ]:
X=df.loc[:,df.columns!='Revenue'].values
y=df.loc[:,'Revenue'].values

In [ ]:
from sklearn.preprocessing import MinMaxScaler
mm = MinMaxScaler((-1,1))

In [ ]:
X=mm.fit_transform(X)

In [ ]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [ ]:
from sklearn.metrics import log_loss

In [ ]:
from sklearn.metrics import roc_auc_score

#Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
logistic = LogisticRegression(random_state = 0)
logistic.fit(X_train, y_train)
y_pred = logistic.predict(X_test)

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

       False       0.89      0.98      0.93      3103
        True       0.76      0.33      0.46       559

    accuracy                           0.88      3662
   macro avg       0.83      0.65      0.70      3662
weighted avg       0.87      0.88      0.86      3662

In [ ]:
ll=log_loss(y_test, y_pred, eps=1e-15)
print(ll)

4.0839254386817085

In [ ]:
print(roc_auc_score(y_test, y_pred))

0.6537671720540513

#Multilayer Perceptron

In [ ]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(solver='lbfgs', alpha=1e-5,hidden_layer_sizes=(5, 2), random_state=1)
clf.fit(X_train, y_train)
y_pred1 = clf.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:549: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
  self.n_iter_ = _check_optimize_result("lbfgs", opt_res, self.max_iter)

In [ ]:
print(classification_report(y_test,y_pred1))

              precision    recall  f1-score   support

       False       0.90      0.98      0.94      3103
        True       0.78      0.37      0.50       559

    accuracy                           0.89      3662
   macro avg       0.84      0.68      0.72      3662
weighted avg       0.88      0.89      0.87      3662

In [ ]:
print(roc_auc_score(y_test, y_pred1))

0.6756451284664791

#Naive Bayes

In [ ]:
from sklearn.naive_bayes import GaussianNB
gnb = GaussianNB()
y_pred2 = gnb.fit(X_train, y_train).predict(X_test)

In [ ]:
print(classification_report(y_test,y_pred2))

              precision    recall  f1-score   support

       False       0.93      0.82      0.87      3103
        True       0.40      0.67      0.50       559

    accuracy                           0.80      3662
   macro avg       0.67      0.74      0.69      3662
weighted avg       0.85      0.80      0.82      3662

In [ ]:
print(roc_auc_score(y_test, y_pred2))

0.7445241692931476

#SVC

In [ ]:
from sklearn.svm import SVC
svc=SVC(kernel='linear')
y_pred3=svc.fit(X_train, y_train).predict(X_test)

In [ ]:
print(classification_report(y_test,y_pred3))

              precision    recall  f1-score   support

       False       0.90      0.98      0.94      3103
        True       0.75      0.37      0.50       559

    accuracy                           0.89      3662
   macro avg       0.82      0.68      0.72      3662
weighted avg       0.87      0.89      0.87      3662

In [ ]:
print(roc_auc_score(y_test, y_pred3))

0.6750893733746037

#Bagging

In [ ]:
from sklearn.ensemble import RandomForestClassifier
clf1 = RandomForestClassifier(max_depth=3, random_state=0)
y_pred4=clf1.fit(X_train, y_train).predict(X_test)

In [ ]:
print(classification_report(y_test,y_pred4))

              precision    recall  f1-score   support

       False       0.86      1.00      0.92      3103
        True       1.00      0.07      0.12       559

    accuracy                           0.86      3662
   macro avg       0.93      0.53      0.52      3662
weighted avg       0.88      0.86      0.80      3662

In [ ]:
print(roc_auc_score(y_test, y_pred4))

0.5330948121645797

#KNC

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier(n_neighbors=3)
y_pred5=knn.fit(X_train, y_train).predict(X_test)

In [ ]:
print(classification_report(y_test,y_pred5))

              precision    recall  f1-score   support

       False       0.88      0.95      0.91      3103
        True       0.48      0.26      0.34       559

    accuracy                           0.84      3662
   macro avg       0.68      0.61      0.62      3662
weighted avg       0.82      0.84      0.82      3662

In [ ]:
print(roc_auc_score(y_test, y_pred5))

0.6051311068923432

#Balanced Bagging Classifier

In [ ]:
from imblearn.ensemble import BalancedBaggingClassifier
from sklearn.tree import DecisionTreeClassifier

bbc = BalancedBaggingClassifier(base_estimator=DecisionTreeClassifier(),
                                sampling_strategy='auto',
                                replacement=False,
                                random_state=0)

In [ ]:
y_pred6=bbc.fit(X_train,y_train).predict(X_test)

In [ ]:
print(classification_report(y_test,y_pred6))

              precision    recall  f1-score   support

       False       0.95      0.89      0.92      3103
        True       0.54      0.76      0.63       559

    accuracy                           0.87      3662
   macro avg       0.75      0.82      0.78      3662
weighted avg       0.89      0.87      0.87      3662